#message-box {
    position: fixed;
    z-index: 1000;
    top: 50px;
    right: -100%;
    animation: 5s cubic-bezier(.5,0,.5,1) 0s running;

    &.play {
        animation-name: mBoxfade;
    }

    p {
        margin: 0;
    }
}

@keyframes mBoxfade {
    0% {
        right: -100%;
    }

    10% {
        right: 70px;
    }

    15% {
        right: 50px;
    }

    90% {
        right: 50px;
    }

    95% {
        right: 70px;
    }

    100% {
        right: -100%;
    }
}