header {
    flex: 1 1 75px;

    .d-flex {
        height: 100%;
        width: 100%;

        [class*="p-"] {
            padding: 0 !important;
        }
    }

    .navbar {
        position: fixed;
        width: 75px;
        height: 100vh;
        padding: 20px 0;
        background-color: $white;
        box-shadow: $box-shadow;
    }

    .navbar-brand {
        width: 100%;
        margin: 0;
        padding: 20px 0;
        font-size: 40px;
        font-weight: 300;
    }

    .nav-link {
        font-size: 30px;
        padding: 20px 0;
        color: $primary;

        .fa-refresh {
            transition: transform 0;
        }

        .fa-commenting,
        .fa-commenting-o {
            transition: $transition-base;
        }

        .fa-commenting {
            transform: translateX(-19px);
        }

        .fa-commenting-o {
            transform: translateX(19px);
        }

        &:hover {
            cursor: pointer;

            .fa-refresh {
                transform: rotate(360deg);
                transition: $transition-base;
            }

            .fa-cog {
                animation: 1.5s linear 0s infinite running fa-Cog;
            }

            .fa-commenting {
                opacity: 0;
            }

            .fa-commenting-o {
                opacity: 1;
            }
        }
    }

    ul.navbar-nav {
        li.nav-item {
            width: auto;
        }
    }
}

@keyframes fa-Cog {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(180deg);
    }
}