.posts {
    background-color: $background-color;
    position: relative;
    z-index: 1;

    [class*="col-"] {
        padding-bottom: 20px;
    }

    p {
        margin: 0;
    }

    .post {
        box-shadow: $box-shadow;
        margin: 60px 0;
        background-color: $light;
        border-radius: $border-radius;
        transition: $transition-base;

        &:hover {
            box-shadow: $box-shadow-hover;
        }
    }

    .show-form {
        position: absolute;
        transform: translateY(-100%);
        transition: top .3s ease-in-out, opacity .1s ease-in-out;
    }

    .create-command {
        position: relative;

        form {
            overflow-y: hidden;
            height: 0;
            margin-bottom: 40px;
            transition: $transition-base;

            .form-submit {
                white-space: nowrap;
                width: 40px;
                transition: width .1s ease-in-out;
            }

            &.show {
                height: 213px;
                margin-bottom: 0;

                .form-submit {
                    width: 150px;
                    transition: width .1s .2s ease-in-out;
                }

                ~ .show-form {
                    transform: translateY(-200%);
                    opacity: 0;
                    transition: transform .1s .3s ease-in-out, opacity .1s .2s ease-in-out;
                }
            }
        }
    }

    .post-comments {
        display: flex;
        flex-direction: column;
        transition: $transition-base;

        .collapse {
            overflow: hidden;
        }

        > a {
            display: none;
            font-size: 14px;
            margin-top: 10px;
            transition: $transition-base;

            &.collapsed {
                margin-top: 0;
            }

            &.show {
                display: block;
            }
        }
    }

    .post-head {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .author {
            color: $primary;
        }
    }

    .post-content {
        overflow: hidden;

        &:empty {
            padding: 0;
            margin: 0;
        }

        img {
            display: block;
            margin: 0 auto 20px;
            max-height: 450px;
        }
    }

    .form-group {
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;

        textarea,
        button,
        input {
            margin-bottom: 10px;
        }
    }
}
