$primary: #0074d9;
$danger: #ff4136;

$theme-colors: (
    "primary": $primary,
    "success": $danger
);

$font-family-sans-serif: "Roboto", sans-serif;

$container-max-widths: (
    "md": 700px,
    "lg": 900px
);

$box-shadow: rgba(0, 0, 0, .15) 10px 0px 15px;

$body-bg: #ffffff;
$body-color: #111111;