// Bootstrap variable overrides
@import 'variables';
// Bootstrap import
@import '~bootstrap/scss/bootstrap';
// Overrides and general classes
@import 'overrides';

// Component imports
@import 'navbar';
@import 'posts';
@import 'modal-settings';

// Layout styling
#content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    #content {
        width: 100%;
        flex: 1 1 100%;
        background-color: $background-color;
    }

    #page-headline {
        position: sticky;
        top: 50px;

        h1 {
            text-align: center;
            font-weight: 300;
            margin: 50px 0;
            color: $dark;
        }
    }
}

i.fa {
    pointer-events: none;
}

[lazyload] {
    transform: translateY(-10%);
    opacity: 0;
    transition: all .5s ease-in-out;
}

[lazyload].load {
    opacity: 1;
    transform: translateY(0);
}

hr {
    border-width: 1px;
    border-color: $dark;
}

textarea {
    resize: none;
}

.btn-primary {
    color: $light;
    background-color: $primary;
    border-color: $primary;

    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active {
        color: $light;
        background-color: $primary;
        border-color: $primary;
        filter: brightness(85%);
    }
}

a {
    color: $primary;

    &:hover {
        color: $primary;
    }
}

.form-control {
    &:focus {
        background-color: $light;
        border-color: $primary;
    }
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background: $light;
}

::-webkit-scrollbar-thumb {
    background-color: $primary;
    border: 3px solid $light;

    &:hover {
        filter: brightness(85%);
    }
}