.vs
xXxYeetroom2000xXx/bin
xXxYeetroom2000xXx/node_modules
.git
*.v2
.vs/xXxYeetroom2000xXx/v16/.suo
xXxYeetroom2000xXx/obj/Debug/net5.0/xXxYeetroom2000xXx.assets.cache
xXxYeetroom2000xXx/obj/Debug/net5.0/xXxYeetroom2000xXx.csprojAssemblyReference.cache
xXxYeetroom2000xXx/obj/project.assets.json
xXxYeetroom2000xXx/obj/project.nuget.cache
xXxYeetroom2000xXx/obj/xXxYeetroom2000xXx.csproj.nuget.dgspec.json
xXxYeetroom2000xXx/obj/xXxYeetroom2000xXx.csproj.nuget.g.props
.vs/xXxYeetroom2000xXx/DesignTimeBuild/.dtbcache.v2
.vs/xXxYeetroom2000xXx/v16/.suo
xXxYeetroom2000xXx/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
xXxYeetroom2000xXx/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
xXxYeetroom2000xXx/obj/Debug/net5.0/Razor/Views/Home/CreatePost.cshtml.g.cs
xXxYeetroom2000xXx/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
xXxYeetroom2000xXx/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
xXxYeetroom2000xXx/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
xXxYeetroom2000xXx/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
xXxYeetroom2000xXx/obj/Debug/net5.0/xXxYeetroom2000xXx.assets.cache
xXxYeetroom2000xXx/obj/Debug/net5.0/xXxYeetroom2000xXx.csproj.CoreCompileInputs.cache
xXxYeetroom2000xXx/obj/Debug/net5.0/xXxYeetroom2000xXx.csprojAssemblyReference.cache
xXxYeetroom2000xXx/obj/Debug/net5.0/xXxYeetroom2000xXx.dll
xXxYeetroom2000xXx/obj/Debug/net5.0/xXxYeetroom2000xXx.genruntimeconfig.cache
xXxYeetroom2000xXx/obj/Debug/net5.0/xXxYeetroom2000xXx.pdb
xXxYeetroom2000xXx/obj/Debug/net5.0/xXxYeetroom2000xXx.Views.dll
xXxYeetroom2000xXx/obj/Debug/net5.0/xXxYeetroom2000xXx.Views.pdb
xXxYeetroom2000xXx/obj/project.assets.json
xXxYeetroom2000xXx/obj/project.nuget.cache
xXxYeetroom2000xXx/obj/xXxYeetroom2000xXx.csproj.nuget.dgspec.json
xXxYeetroom2000xXx/obj/xXxYeetroom2000xXx.csproj.nuget.g.props
