.vs
xXxYeetroom2000xXx/bin
xXxYeetroom2000xXx/node_modules
.git
*.v2
.vs/xXxYeetroom2000xXx/v16/.suo
xXxYeetroom2000xXx/obj/Debug/net5.0/xXxYeetroom2000xXx.assets.cache
xXxYeetroom2000xXx/obj/Debug/net5.0/xXxYeetroom2000xXx.csprojAssemblyReference.cache
xXxYeetroom2000xXx/obj/project.assets.json
xXxYeetroom2000xXx/obj/project.nuget.cache
xXxYeetroom2000xXx/obj/xXxYeetroom2000xXx.csproj.nuget.dgspec.json
xXxYeetroom2000xXx/obj/xXxYeetroom2000xXx.csproj.nuget.g.props
