@model xXxYeetroom2000xXx.Models.Post

@{
    ViewData["Title"] = "Create Post";
}

<div id="page-headline">
    <h1>Neuen Post erstellen</h1>
    <hr />
    <br />
</div>
<div class="row">
    <div class="col-12">
        <form asp-action="CreatePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Verfasser" class="form-control" placeholder="Name"/>
                <span asp-validation-for="Verfasser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="4" cols="50" asp-for="Eintrag" placeholder="Beitrag"></textarea>
                <span asp-validation-for="Eintrag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Link" class="form-control" placeholder="Link"/>
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Erstellen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zum Eingang</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
